<h1>Verify Audit Setup</h1>

<table>
  
  <tr>
    <td><%= render :partial => "new_checklist", :object => "submit_setup" %></td>
    <td><%= render :partial => "new_checklist", :object => "submit_audit" %></td>
    <td></td>
    
  </tr>
  
</table>

